
.countdown {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .countdown h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    color: coral;
  }
  
  .countdown p {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .countdown .time-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width:3vw;
  }
  
  .countdown .time-item {
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    width: 80px;
    text-align: center;
  }
  
  .countdown .time-item span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
  }
  